.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 120px;
}
.footer__contact {
  font-family: "Archivo Black", Arial, sans-serif;
  font-size: 40px;
  margin: 0 0 20px;
}
.footer__email {
  color: #6d6dff;
  margin: 0 0 32px;
}
.footer_social-icons {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
/* HOVER */
.footer__email:hover {
  opacity: 0.5;
}
.footer__social-svg:hover {
  opacity: 0.5;
}
/* MEDIA QUERIES */
@media (max-width: 1023px) {
  .footer__content {
    padding: 80px 40px 102px;
  }
}
@media (max-width: 768px) {
  .footer__content {
    padding: 80px 20px 100px;
  }
  .footer__contact {
    font-size: 28px;
  }
  .footer_social-icons {
    gap: 40px;
  }
}
